* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-image: url(pexels-codioful-\(formerly-gradienta\)-7130469jpg);
  overflow-x: hidden;
}
body{
  background-image: url(pexels-codioful-\(formerly-gradienta\)-7130469.jpg);
}
header {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: rgb(219, 219, 220);
}
.logo {
  font-size: 3rem;
  color: #474761;
}
.navbar-list {
  display: flex;
  gap: 3.8rem;
  list-style: none;
  cursor: default;
}
.navbar-list li:hover {
  color: red;
  font-size: 2.1rem;
}
li {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  /* font-weight: 500; */
  color: #2e36ff;
  /* transition: all 0.3s; */
}
.mobile-nav {
  display: none;
  background: transparent;
  cursor: pointer;
}
.menu {
  width: 4rem;
  height: 4rem;
  color: rgb(3, 3, 6);
}
.menu[name="close-circle-outline"] {
  display: none;
}

/* responsive css */

@media (max-width: 62em) {
  .mobile-nav {
    display: block;
    z-index: 999;
  }
  .header {
    position: relative;
  }
  .logo {
    width: 90%;
    font-size: 3rem;
  }
  .navbar {
    /* display:none ; */
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 219, 220);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .active .navbar{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-nav .menu[name="close-circle-outline"] {
    display: block;
  }
  .active .mobile-nav .menu[name="menu-outline"] {
    display: none;
  }
}
@media (max-width:35rem){
  .header{
    padding: 0 2.4rem;
  }
}
